<form (ngSubmit)="onSubmit()">
  <div class="input-group">
    <p>
      <label for="initial-investment">Initial Investment</label>
      <input
        id="initial-investment"
        type="number"
        [(ngModel)]="enterInitialInvestment"
        name="initial-investment"
      />
    </p>

    <p>
      <label for="annual-investment">Annual Investment</label>
      <input
        id="annual-investment"
        type="number"
        [(ngModel)]="enterAnnualInvestment"
        name="annual-investment"
      />
    </p>
  </div>

  <div class="input-group">
    <p>
      <label for="expected-return">Expected Return</label>
      <input
        id="expected-return"
        type="number"
        [(ngModel)]="enterExpectedReturn"
        name="expected-return"
      />
    </p>

    <p>
      <label for="duration">Duration</label>
      <input
        id="duration"
        type="number"
        [(ngModel)]="enterDuration"
        name="duration"
      />
    </p>
  </div>
  <div>
    <button>Calculate</button>
  </div>
</form>
